#header-wrapper,#header-clear,#footer-wrapper,#breadcrumb,#menu-bar,#tasks,.action-links,.field-name-recalculate-invoice,#node-invoice-full-group-system,.region-content-aside,#messages,#zicasso-ltl-bar-clear,#zicasso-ltl-repsonsive,.region-page-bottom,#cboxOverlay,#colorbox,#__lpform_edit-masquerade-user-field_numspan,#__lpform_edit-masquerade-user-field{display:none;}.field-name-invoice-message{border:none;background:transparent;margin:0;padding:0;font-weight:bold;}.field-name-field-id-number{border-top:1px solid #666666;padding-top:30px;}.field-name-field-address .field-label{display:none;}.node-invoice section{margin-top:10px;width:100%;float:none;}.node-invoice section.field-name-field-contact-info{width:100%;float:left;position:relative;}body.node-type-invoice,html{height:99%;}









