body{font-size:100%;}#site-name{font-size:2em;}#site-slogan{font-size:1.2em;}#page-title{font-size:1.4em;}.node-title{font-size:1.4em;}.comment-title{font-size:1.4em;}.block-title{font-size:1.2em;}h1{font-size:1.4em;}h2{font-size:1.2em;}h3{font-size:1.1em;}h4{font-size:1em;}h5{font-size:1em;}h6{font-size:1em;}









